@import url("fonts.css");
@import url("forms.css");


:root {
    color-scheme: light dark;
	color: rgb(0, 0, 0);
	background-color: #fff;
}

html,
body {
    height: 100%;
    margin: 0;
}

#app {
    height: 100vh;
    box-sizing: border-box;
    padding-bottom: 40px;
}

body,
input,
button {
    font-family: 'Roboto';
    font-size: 16px;
}

.hidden {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
    z-index: 0;
}

.main {
    width: 1240px;
    box-sizing: border-box;
    margin: 0 auto 0 auto;
    padding-top: 40px;
    padding-bottom: 60px;

    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    font-size: 24px;
    font-weight: 600;           /* Semi bold */
}

h2 {
    font-size: 20px;
    font-weight: 600;           /* Medium */
}

h3 {
    font-size: 18px;
    font-weight: 400;           /* Regular */
    margin: 0;
    color: #808080;
}

.label-bold {
    font-weight: 600;
    text-transform: uppercase;
}

img.icon-button {
    width: 24px;
    height: 24px;
    user-select: none;
}

img.icon-button:hover {
    border-radius: 4px;
    background-color: #c9c9c9;
    cursor: pointer;
}

img.icon-button.disabled,
img.icon-button.disabled:hover {
    cursor: default;
    background-color: transparent;
    opacity: 0.5;
}

.color-box {
    width: 20px;
    height: 20px;

    outline: 1px solid black;
    border-radius: 4px;
    background-color: #808080;
}