@import url('common.css');


.cameras-container {
    display: table;
    border-collapse: collapse;
}

.table-row {
    display: table-row;
}

.table-row > div {
    display: table-cell;
    border: 0px solid transparent;
    background-clip: padding-box;
}

.table-row > div.icons-box {
    display: flex;
    column-gap: 10px;
}

.table-row > div + div {
    border-left-width: 20px;
}

.table-row + .table-row > div {
    border-top-width: 20px;
}




.forms-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;

    background-color: rgba(69, 69, 69, 0.4);
    z-index: 99;
}

.forms-container > div {
    display: inline-flex;
    flex-direction: column;
    margin: auto;

    box-shadow: 5px 5px 7px #808080;
    border-radius: 20px;
    background-color: white;
}

.camera-window {
    row-gap: 20px;
    padding: 20px 20px 40px 20px;
}

.container__content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    padding: 0 60px;
}

.container__content > form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.container__content > form > .form-inputs {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.delete-window {
    row-gap: 30px;
    padding: 20px 30px;
}

.delete-window .buttons-box {
    display: flex;
    column-gap: 30px;
}

.delete-window p {
    margin: 0;
}

.delete-window button.close-window {
    display: inline-flex;
}

.delete-window form,
.delete-window button.delete-camera {
    display: flex;
    width: 100%;
}