/* TABLE DISPLAY LAYOUT         */
.table-display {
    display: table;
    border-collapse: collapse;
}

.table-row {
    display: table-row;
}

.table-row > div {
    display: table-cell;
    border: 0px solid transparent;
    background-clip: padding-box;
}

.table-row > div.icons-box {
    display: flex;
    column-gap: 10px;
    justify-content: flex-end;
}

.table-row > div + div {
    border-left-width: 20px;
}

.table-row + .table-row > div {
    border-top-width: 20px;
}

.table-row > .row-cell {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
/* ============================= */