{% extends "base.html" %}

{% block title %}Видеокамеры{% endblock %}

{% block styles %}
    <link href="{{ url_for('styles', path='/cameras.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% set page_name = "cameras" %}

    {% with page_name=page_name %}
        {% include "header.html" %}
    {% endwith %}

    <div class="main">
        <h1>Отслеживаемые камеры</h1>

        <div class="row-right-container">
            <button @click="showAddCameraForm" class="primary">
                <span>Добавить видеокамеру</span>
            </button>
        </div>
        
        <div v-if="cameras.length" class="table-display">
            <div class="table-row">
                <div class="label-bold">id</div>
                <div class="label-bold">Адрес</div>
                <div class="label-bold">Отслеживать</div>
                <div class="label-bold">Добавлена</div>
            </div>
            
            <div v-for="camera in cameras" class="table-row">
                <div>[[ camera.id ]]</div>
                <div>[[ camera.address ]]</div>
                <div>
                    <div @click="switchCameraMonitoring(camera.id)" class="switch" :class="{ 'on' : camera.is_monitoring }"></div>
                </div>
                <div>[[ camera.created_at ]]</div>
                <div class="icons-box">
                    <img @click="showEditCameraForm(camera.id)" class="icon-button"
                        src="{{ url_for('icons', path='/pencil.png') }}" alt="edit">
                    <img @click="showDeleteCameraForm(camera.id)" class="icon-button"
                        src="{{ url_for('icons', path='/delete.png') }}" alt="delete">
                </div>
            </div>
        </div>
        <p v-else>В базе нет ещё ни одной камеры.</p>
    </div>

    <div @click="(event) => formsContainerClicked(event)"
            class="forms-container"
            :class="{ 'hidden' : current_form == null }">

        <div v-if="current_form === 'add' || current_form === 'edit'" class="add-edit-window">
            <div class="row-right-container">
                <div @click="closeForm" class="button-cross"></div>
            </div>
            <div class="window__content">
                <h2 v-if="current_form === 'add'">Добавление новой видеокамеры в БД</h2>
                <h2 v-else>Изменение видеокамеры #[[ form_data.id ]]</h2>
                <form @submit="(event) => current_form === 'add' ? addCamera(event) : editCamera(event)" name="add-camera">
                    <div class="form-inputs">
                        <label class="filled" :class="{ 'error' : errors.address }">
                            <span class="label-bold">адрес:</span>
                            <input
                                :value="form_data.address"
                                type="text" name="address" maxlength="100"
                                placeholder="rtsp://{ip}:{port}/{thread}">
                            <span v-if="errors.address" class="error-text">[[ errors.address ]]</span>
                        </label>
                    </div>
                    <button type="submit" class="primary submit-form" :disable="sending">
                        <span v-if="current_form === 'add'">Добавить видеокамеру</span>
                        <span v-else>Сохранить</span>
                    </button>
                </form>
            </div>
        </div>

        <div v-else class="delete-window">
            <p>Вы точно хотите удалить камеру #[[ form_data.id ]]?</p>
            <div class="buttons-box">
                <button @click="closeForm" class="basic close-window">
                    <span>Закрыть</span>
                </button>
                <button @click="deleteCamera" class="danger delete-camera">
                    <span>Удалить камеру</span>
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('scripts', path='/cameras.js') }}"></script>
{% endblock %}
