{% extends "base.html" %}

{% block title %}Видеокамеры{% endblock %}

{% block styles %}
    <link href="{{ url_for('styles', path='/cameras.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    {% set page_name = "cameras" %}

    {% with page_name=page_name %}
        {% include "header.html" %}
    {% endwith %}

    <div class="main">
        <h1>Отслеживаемые камеры</h1>

        <div class="row-right-container">
            <button @click="showAddCameraForm" class="primary btn-add-camera">
                <span>Добавить видеокамеру</span>
            </button>
        </div>
        
        <div v-if="cameras.length" class="cameras-container">
            <div class="table-row">
                <div class="label-bold">id</div>
                <div class="label-bold">Адрес</div>
                <div class="label-bold">Отслеживать</div>
                <div class="label-bold">Добавлена</div>
            </div>
            
            <div v-for="camera in cameras" class="table-row">
                <div>[[ camera.id ]]</div>
                <div>[[ camera.address ]]</div>
                <div>[[ camera.is_monitoring ]]</div>
                <div>[[ camera.created_at ]]</div>
                <div class="icons-box">
                    <img class="icon-button btn-edit-camera" data-id="[[ camera.id ]]" src="{{ url_for('images', path='/pencil.png') }}" alt="edit">
                    <img class="icon-button btn-delete-camera" data-id="[[ camera.id ]]" src="{{ url_for('images', path='/delete.png') }}" alt="delete">
                </div>
            </div>
        </div>
        <p v-else>В базе нет ещё ни одной камеры.</p>
    </div>

    <div class="forms-container" :class="{ 'hidden' : current_form == null }">
        <div v-if="current_form === 'add'" class="camera-window">
            <div class="row-right-container">
                <div @click="closeForm" class="button-cross"></div>
            </div>
            <div class="container__content">
                <h2>Добавление новой видеокамеры в БД</h2>
                <form @submit="(event) => addCamera(event)" name="add-camera">
                    <div class="form-inputs">
                        <label class="filled" :class="{ 'error' : errors.address }">
                            <span class="label-bold">address:</span>
                            <input type="text" name="address" maxlength="100" placeholder="rtsp://{ip}:{port}/{thread}">
                            <span v-if="errors.address" class="error-text">[[ errors.address ]]</span>
                        </label>
                    </div>
                    <button type="submit" class="primary submit-form" :disable="sending">
                        <span>Добавить видеокамеру</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('scripts', path='/cameras.js') }}"></script>
{% endblock %}
