<header>
    <div class="header__content">
        <a class="header__logo" {% if page_name != "index" %}href="/"{% endif %}>
            <span>
                videocameras
                <br>
                logging
            </span>
        </a>
        <nav>
            <a class="header__link {% if page_name == 'classes' %}current{% endif %}" {% if page_name != "classes" %}href="/classes"{% endif %}>
                <span>Классы</span>
            </a>
            <a class="header__link {% if page_name == 'snapshots' %}current{% endif %}" {% if page_name != "snapshots" %}href="/snapshots"{% endif %}>
                <span>Снимки</span>
            </a>
            <a class="header__link {% if page_name == 'cameras' %}current{% endif %}" {% if page_name != "cameras" %}href="/cameras"{% endif %}>
                <span>Видеокамеры</span>
            </a>
            <a class="header__link {% if page_name == 'statistic' %}current{% endif %}" {% if page_name != "statistic" %}href="/statistic"{% endif %}>
                <span>Статистика</span>
            </a>
            <a class="header__link {% if page_name == 'about' %}current{% endif %}" {% if page_name != "about" %}href="/about"{% endif %}>
                <span>О проекте</span>
            </a>
        </nav>
    </div>
</header>