<header>
    <div class="header__content">
        <a class="header__logo" {% if page_name != "index" %}href="/"{% endif %}>
            <span>
                videocameras
                <br>
                logging
            </span>
        </a>
        <nav>
            <a class="header__link {% if page_name == 'images' %}current{% endif %}" href="/images">
                <span>Снимки</span>
            </a>
            <a class="header__link {% if page_name == 'cameras' %}current{% endif %}" href="/cameras">
                <span>Видеокамеры</span>
            </a>
            <a class="header__link {% if page_name == 'statistic' %}current{% endif %}" href="/statistic">
                <span>Статистика</span>
            </a>
            <a class="header__link {% if page_name == 'about' %}current{% endif %}" href="/about">
                <span>О проекте</span>
            </a>
        </nav>
    </div>
</header>