{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block styles %}
    <link href="{{ url_for('styles', path='/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

{% with is_index=True %}
    {% include "header.html" %}
{% endwith %}

<main>
    <div class="first_block_wrapper">
        <div class="main" style="margin-top: 80px;">
            <div class="first_block">
                <div class="first_block_text header1">
                    Наше приложение использует современные технологии компьютерного зрения для автоматического распознавания и логирования объектов в реальном времени. Идеально подходит для складов, магазинов, производственных предприятий и многих других областей.
                </div>

                <img src="{{ url_for('images', path='/computer.png') }}" alt="">
            </div>
        </div>
    </div>
    <div class="second_block_wrapper">
        <div class="second_block content">
            <h2 class="header1 advantages_title">Преимущества</h2>
            <div class="advantages">
                <div class="advantage">
                    <img src="{{ url_for('images', path='/ontime.png') }}" alt="">
                    <span class="header2">Все автоматизировано</span>
                </div>
                <div class="advantage">
                    <img src="{{ url_for('images', path='/interface.png') }}" alt="">
                    <span class="header2">Понятный интерфейс</span>
                </div>
                <div class="advantage">
                    <img src="{{ url_for('images', path='/free.png') }}" alt="">
                    <span class="header2">Абсолютно бесплатно</span>
                </div>
                <div class="advantage">
                    <img src="{{ url_for('images', path='/minimum.png') }}" alt="">
                    <span class="header2">Минимальная ошибка</span>
                </div>
            </div>
        </div>
    </div>
    <div class="third_block_wrapper">
        <div class="third_block content">
            <h2 class="header1 history_title">История снимков</h2>
            <div class="history_wrapper">
                <img src="{{ url_for('images', path='/history.png') }}" alt="">
                <div class="history_description">
                    <span class="header1">Хранение данных о всех распознанных объектах для дальнейшего анализа.</span>
                    <img src="{{ url_for('images', path='/old-paper.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="fourth_block_wrapper">
        <div class="fourth_block content">
            <div class="top_wrapper">
                <div class="header1 settings_description">
                    Гибкая настройка камер и быстрое соединение 
                </div>
                <h2 class="header1 settings_title">Отслеживание и подключение камер</h2>
            </div>
            <div class="bottom_wrapper">
                <img src="{{ url_for('images', path='/settings.png') }}" alt="">
            </div>
        </div>
    </div>

    <div class="fifth_block_wrapper">
        <div class="fifth_block content">
            <h2 class="header1 statistic_title">Статистика</h2>
            <div class="statictic_wrapper">
                <img class="statisctics" src="{{ url_for('images', path='/statisctics.png') }}" alt="">
                <div class="statictic_description">
                    <span class="header1">Получайте подробные отчеты о движении объектов.</span>
                    <img src="{{ url_for('images', path='/statistics.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}
